<!DOCTYPE html>
<html lang="pt-BR"> <!----lang atributo !------>
<head>
    <meta charset="UTF-8"> <!----charset utf8  para caracteres em portugues !------>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>Projeto NLW </title>

    <link rel="shortcut icon" href="/_img/favicon.png" type="image/png"> <!------ADICIONA UM ICONE NA PAGE------>


    <link rel="stylesheet" href="/estilos/main.css">
    <link rel="stylesheet" href="/estilos/partials/page-landing.css">
    <link href = " https://fonts.googleapis.com/css2?family=Archivo:wght@400;700 & amp; family = Poppins: wght @ 400; 600 & amp; display = swap " rel = " folha de estilo " >
   
</head>
<body id="page-landing">
    <div id="container">
         <div class="logo-container">
             <img src="/_img/logo.svg" alt="Proffy">
              <h2>Sua plataforma de estudos Online</h2>
         </div>

         <img class="hero-image" src="/_img/landing.svg" alt="plataforma de estudos">

        <div class="buttons-container">
            <a class ="study"href="/study">
                <img src="/_img/icons/study.svg" alt="Estudar">
                Estudar
            </a>

            <a class="give-classes"  href="/give-classes">
                <img src="/_img/icons/give-classes.svg" alt="Dar aulas">
                Dar aulas
            </a>


        </div>
        <p class="total-connections">
            Total de 200 conexôes já realizadas 
           
            <img src="/_img/icons/purple-heart.svg" alt="coração">
        </p>
       
       
    </div>  
    
</body>
</html>